<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwj.dao.UserMapper">
    <select id="login" resultType="User">
        select * from user where email=#{email}
    </select>
    <select id="findUserById" resultType="User" parameterType="Integer">
      select * from user where id=#{userId}
    </select>
    <resultMap id="userResource" type="User">
        <id property="id" column="user_id"></id>
        <result property="email" column="email"></result>
        <result property="type" column="type"></result>
        <collection property="resourceList" ofType="Resource">
            <id property="id" column="resource_id"></id>
            <result property="name" column="name"></result>
            <result property="url" column="url"></result>
            <result property="nation" column="nation"></result>
            <result property="isValid" column="is_valid"></result>
        </collection>
    </resultMap>
    <select id="competence" parameterType="Integer" resultMap="userResource">
        select user.id as user_id,user.email,user.type,resource.id as resource_id,resource.name,resource.url,resource.is_valid ,resource.nation from user,resource,user_resource where user.id=#{id} and user.id=user_resource.user_id and user_resource.resource_id=resource.id;
    </select>

    <select id="getAllRes" resultType="Resource">
        select * from resource;
    </select>

    <select id="selectUseByEmail" parameterType="String" resultType="User">
         select * from user where email=#{email}
    </select>
    <insert id="addUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into user (email,password,salt,type) values (#{email},#{password},#{salt},#{type})
    </insert>

    <insert id="addCompetence" parameterType="List">
        INSERT into user_resource(user_id,resource_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId},#{item.resourceId})
        </foreach>
    </insert>

    <update id="updateUserPwd">
        UPDATE user set password=#{pwd} where id=#{id}
    </update>

    <delete id="deleteUseCpmpetence" parameterType="Integer">
        DELETE from user_resource where user_id=#{userId}
    </delete>

</mapper>
